body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(123, 236, 208);
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
}

#headerText {
    font-size: 42px;
    font-weight: bold;
    color: rgb(202, 64, 202);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 2px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*height: 700px;
    width: 700px;
    background-color: rgb(138, 200, 154);*/
}

#grid {
    display: flex;
    height: 500px;
    width: 500px;
    background-color: grey;
    flex-wrap: wrap;
    border-style: solid;
    box-shadow: -2px 0 5px grey, 0 2px 5px grey, 2px 0 grey, 0 -2px 5px grey;

}

.square {
    background-color: grey;

}

#sizeChoice {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sizeChoiceBtn {
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
    border-radius: 12px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}