body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(pink, purple);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

/* Header */

#header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
   padding-bottom: 20px;
}

h1 {
    font-size: 68px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Main */

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
    border-style: 1px solid grey;
    box-shadow: -2px 0 5px grey, 0 2px 5px grey, 2px 0 grey, 0 -2px 5px grey;
}


#gridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorButton {
    background-color: rgb(209, 154, 199);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    border-style: none;
    padding: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px black;
}

.colorButtonContainer {
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 75px;

}

#welcome {
    font-size: 22px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
}

#reginaAlert:hover {
    cursor: pointer;
    color: white;
    text-shadow: 2px 0px 5px purple, 0px 2px 5px purple, -2px 0px 5px purple, 0px -2px 5px purple;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.colorButton:hover, .selected {
    background-color: rgb(201, 116, 195);
}

#clear:hover {
    background-color: rgb(201, 116, 195);

}

#clear {
    background-color:rgb(225, 225, 225);
    color: darkblue; 
}

#black:active, #rainbow:active, #clear:active, #pink:active, #christmas:active {
    transform: translate(5px, 5px);
}

.clearContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slider {
    margin-top: 12px;
}

#sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sizeometer {
    display: flex;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
}

.square {
    background-color: white;
    border: 1px solid rgb(87, 87, 87);
}

/* Footer */

#footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}